absl-py==2.1.0
accelerate==1.4.0
addict==2.4.0
aggdraw==1.3.19
aiofiles==23.2.1
aiohappyeyeballs==2.4.6
aiohttp==3.10.11
aiohttp-retry==2.8.3
aiohttp-sse==2.2.0
aioice==0.9.0
aioresponses==0.7.8
aiortc==1.9.0
aiosignal==1.3.2
aiosqlite==0.21.0
aisuite==0.1.10
albucore==0.0.16
albumentations==1.4.15
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
altair==5.5.0
annotated-types==0.7.0
anthropic==0.49.0
antlr4-python3-runtime==4.9.3
anyio==4.8.0
APScheduler==3.10.1
archspec==0.2.5
argcomplete==3.5.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
argostranslate==1.9.6
args==0.1.0
aria2==0.0.1b0
arrow==1.3.0
arxiv==2.1.3
asgiref==3.8.1
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.4
asyncua==1.1.5
attrdict==2.0.1
attrs==24.2.0
audioread==3.0.1
auto_gptq==0.7.1
av==12.3.0
awscli==1.38.3
babel==2.16.0
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.12.3
bitsandbytes==0.45.3
black==25.1.0
bleach==6.2.0
blend_modes==2.2.0
blind-watermark==0.4.4
blinker==1.9.0
boltons==25.0.0
boto3==1.37.3
botocore==1.37.3
braceexpand==0.1.7
Brotli==1.1.0
browser-use==0.1.40
build==1.2.2.post1
cachetools==5.5.2
came-pytorch==0.1.3
certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.0
chroma-hnswlib==0.7.6
chromadb==0.6.3
click==8.1.7
clint==0.5.1
clip @ https://github.com/openai/CLIP/archive/d50d76daa670286dd6cacf3bcd80b5e4823fc8e1.zip#sha256=b5842c25da441d6c581b53a5c60e0c2127ebafe0f746f8e15561a006c6c3be6a
clip-interrogator==0.6.0
cloudpickle==3.1.1
cmake==3.31.6
cohere==5.13.12
color-matcher==0.5.0
colorama==0.4.4
coloredlogs==15.0.1
colorlog==6.9.0
colour-science==0.4.6
comfyui_frontend_package==1.10.17
comm==0.2.2
commonmark==0.9.1
compel==2.0.3
contourpy==1.3.1
coverage==7.6.12
cpm-kernels==1.0.11
crcmod==1.7
cryptography==44.0.1
cssselect2==0.7.0
cstr @ git+https://github.com/WASasquatch/cstr@0520c29a18a7a869a6e5983861d6f7a4c86f8e9b
ctranslate2==4.5.0
cupy-cuda12x==13.4.0
cycler==0.12.1
Cython==3.0.0
dashscope==1.22.1
dataclasses-json==0.6.7
datamodel-code-generator==0.28.2
datasets==3.3.2
ddt==1.7.2
debugpy==1.8.12
decorator==4.4.2
decord==0.6.0
deep-translator==1.11.4
deepdiff==8.2.0
defusedxml==0.7.1
Deprecated==1.2.18
diffusers==0.32.2
dill==0.3.8
dirtyjson==1.0.8
discord==2.3.2
discord.py==2.5.1
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
dlib==19.24.2
dnspython==2.7.0
docker-pycreds==0.4.0
docopt==0.6.2
docstring_parser==0.16
docutils==0.16
docx2txt==0.8
durationpy==0.9
easydict==1.13
easyocr==1.7.2
einops==0.8.0
embreex==2.17.7.post6
et_xmlfile==2.0.0
eval_type_backport==0.2.2
exceptiongroup==1.2.2
executing==2.1.0
expecttest==0.2.1
facexlib==0.3.0
fairscale==0.4.0
faiss-cpu==1.10.0
fal_client==0.5.9
fastapi==0.115.8
fastavro==1.10.0
faster-whisper==1.1.1
fastjsonschema==2.21.1
fastrlock==0.8.3
feedparser==6.0.11
ffmpeg-python==0.2.0
ffmpy @ git+https://github.com/WASasquatch/ffmpy.git@f000737698b387ffaeab7cd871b0e9185811230d
filelock==3.16.1
filetype==1.2.0
filterpy==1.4.5
fire==0.5.0
fish-audio-sdk==2025.2.11
Flask==3.1.0
flatbuffers==25.2.10
flet==0.27.3
fonttools==4.56.0
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2024.10.0
ftfy==6.3.1
future==1.0.0
fvcore==0.1.5.post20221221
gast==0.6.0
gdown==5.2.0
gekko==1.2.1
genson==1.3.0
gguf==0.14.0
ghp-import==2.1.0
gitdb==4.0.12
GitPython==3.1.44
glfw==2.8.0
glitch_this==1.0.3
google-ai-generativelanguage==0.6.10
google-api-core==2.23.0
google-api-python-client==2.154.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-crc32c==1.6.0
google-generativeai==0.8.3
google-pasta==0.2.0
googleapis-common-protos==1.66.0
googletrans-py==4.0.0
GPUtil==1.4.0
gradio==3.37.0
gradio-tunneling==0.5.0
gradio_client==1.3.0
gray2color==0.4.3
greenlet==3.1.1
griffe==1.5.7
groq==0.9.0
grpcio==1.71.0rc2
grpcio-status==1.63.0rc1
h11==0.14.0
h2==4.1.0
h5py==3.13.0
hpack==4.0.0
html2image==2.0.5
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
httpx-ws==0.7.1
huggingface-hub==0.25.2
humanfriendly==10.0
hydra-core==1.3.2
hyperframe==6.0.1
hypothesis==6.115.5
icecream==2.1.4
identify==2.6.8
idna==3.10
ifaddr==0.2.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
imagesize==1.4.1
img2texture @ git+https://github.com/WASasquatch/img2texture.git@d6159abea44a0b2cf77454d3d46962c8b21eb9d3
importlib_metadata==7.2.1
importlib_resources==6.5.2
inflect==5.6.2
iniconfig==2.0.0
insightface==0.7.3
instructor==1.7.2
iopath==0.1.9
ipykernel==6.29.5
ipython==9.0.1
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
isort==6.0.1
itsdangerous==2.2.0
jax==0.5.1
jaxlib==0.5.1
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.4
jiter==0.8.2
jmespath==0.10.0
joblib==1.4.2
json5==0.10.0
json_repair==0.39.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab_pygments==0.3.0
kaldi-native-fbank==1.20.2
keras==3.8.0
keyboard==0.13.5
kiui==0.2.14
kiwisolver==1.4.8
kornia==0.8.0
kornia_rs==0.1.8
kubernetes==32.0.1
langchain==0.3.19
langchain-anthropic==0.3.3
langchain-community==0.3.18
langchain-core==0.3.40
langchain-ollama==0.2.2
langchain-openai==0.3.1
langchain-text-splitters==0.3.6
langsmith==0.3.11
lark==1.2.2
lark-parser==0.12.0
latex2mathml==3.77.0
lazy_loader==0.4
libarchive-c==5.1
libclang==18.1.1
librosa==0.10.2.post1
lief==0.16.4
lightning-utilities==0.12.0
linkify-it-py==2.0.3
lintrunner==0.12.5
lion-pytorch==0.2.3
llama-cloud==0.1.13
llama-cloud-services==0.6.3
llama-cpp-agent==0.0.17
llama-index==0.12.21
llama-index-agent-openai==0.4.6
llama-index-cli==0.4.1
llama-index-core==0.12.21
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.8
llama-index-llms-openai==0.3.25
llama-index-multi-modal-llms-openai==0.4.3
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.5
llama-index-readers-llama-parse==0.4.0
llama-parse==0.6.2
llama_cpp_python==0.2.89
llvmlite==0.44.0
lmdb==1.6.2
loguru==0.7.3
loralib==0.1.2
lpips==0.1.4
lxml==5.3.1
mamba==0.11.3
manifold3d==3.0.1
mapbox_earcut==1.0.3
Markdown==3.7
markdown-it-py==2.2.0
markdownify==0.14.1
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.10.1
matplotlib-inline==0.1.7
matrix-client==0.4.0
mcp==1.3.0
mdit-py-plugins==0.3.3
mdtex2html==1.3.1
mdurl==0.1.2
mediapipe==0.10.21
mergedeep==1.3.4
mistune==3.1.0
mkdocs==1.6.1
mkdocs-autorefs==1.4.0
mkdocs-get-deps==0.2.0
mkdocs-material==9.6.5
mkdocs-material-extensions==1.3.1
mkdocstrings==0.28.2
mkdocstrings-python==1.16.2
ml-dtypes==0.4.1
mmh3==5.1.0
modelscope==1.23.1
monotonic==1.6
more-itertools==10.6.0
moviepy==2.0.0.dev2
mpmath==1.3.0
msgpack==1.1.0
mss==10.0.0
mtcnn-runtime==1.0.0
multidict==6.1.0
multiprocess==0.70.16
munch==4.0.0
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.28.0
natsort==8.4.0
nbclient==0.10.2
nbconvert==7.16.5
nbformat==5.10.4
neo4j==5.28.1
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.3
nltk==3.9.1
nodeenv==1.9.1
notebook_shim==0.2.4
numba==0.61.0
numexpr==2.10.2
numpy==1.26.4
oauthlib==3.2.2
objprint==0.3.0
ollama==0.4.5
omegaconf==2.3.0
onnx==1.17.0
onnx2torch==1.5.15
onnxruntime==1.18.0
onnxruntime-gpu==1.15.1
open_clip_torch==2.31.0
openai==1.65.1
opencv-contrib-python==4.11.0.86
opencv-contrib-python-headless==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt_einsum==3.4.0
optimum==1.24.0
optree==0.13.0
orderly-set==5.3.0
orjson==3.10.15
ormsgpack==1.8.0
oss2==2.19.1
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
paginate==0.5.7
paho-mqtt==1.6.1
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pathlib==1.0.1
pathspec==0.12.1
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.5
peft==0.13.2
pendulum==3.0.0
pexpect==4.9.0
pickleshare==0.7.5
piexif==1.1.3
pilgram==1.2.1
pillow==10.4.0
pixeloe==0.1.4
pixelsort==1.0.1
pkginfo==1.12.1.2
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
playwright==1.50.0
plotly==6.0.0
pluggy==1.5.0
plyfile==1.1
pooch==1.8.2
portalocker==3.1.1
posthog==3.17.0
pre_commit==4.1.0
pretty-errors==1.2.25
prettytable==3.15.1
prodigyopt==1.1.2
proglog==0.1.10
prometheus-fastapi-instrumentator==6.0.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.3.0
proto-plus==1.26.0
protobuf==4.25.6
psd-tools==1.10.7
psutil==5.9.5
ptyprocess==0.7.0
PuLP==3.0.2
pure_eval==0.2.3
py-cord==2.6.1
py-cpuinfo==3.3.0
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybase64==1.0.2
pyclipper==1.3.0.post6
pycocoevalcap==1.2
pycocotools==2.0.8
pycollada==0.9
pycosat==0.6.6
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
pydeck==0.9.1
pydot==2.0.0
pydub==0.25.1
pyee==12.1.1
pyfqmr==0.3.0
pygame==2.6.1
pygit2==1.15.1
PyGithub==2.5.0
Pygments==2.18.0
PyJWT==2.8.0
pykalman==0.10.1
pylibsrtp==0.11.0
pylogix==1.0.5
PyMatting==1.1.13
pymdown-extensions==10.14.3
pymeshlab==2023.12.post2
pymodbus==3.8.3
PyMuPDF==1.25.3
PyNaCl==1.5.0
pynvml==12.0.0
PyOpenGL==3.1.9
pyOpenSSL==25.0.0
pyparsing==3.2.1
pypdf==5.3.0
PyPDF2==3.0.1
pypdfium2==4.30.1
PyPika==0.48.9
pyproject_hooks==1.2.0
pySmartDL==1.3.4
PySocks==1.7.1
pytest==8.3.4
pytest-asyncio==0.21.1
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-etcd==0.4.5
python-json-logger==3.2.1
python-multipart==0.0.20
pytorch-lightning==2.3.3
pytz==2024.2
pyvips==2.2.3
PyWavelets==1.8.0
PyYAML==6.0.2
pyyaml_env_tag==0.1
pyzbar==0.1.9
pyzmq==26.2.0
qrcode==8.0
qwen-vl-utils==0.0.10
redis==5.0.8
referencing==0.35.1
regex==2024.11.6
rembg==2.0.63
repath==0.9.0
reportlab==4.3.1
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requirements-parser==0.11.0
rf-clip==1.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.8.0
rich-argparse==1.7.0
rouge==1.0.1
rpds-py==0.22.0
rsa==4.7.2
Rtree==1.3.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
ruff==0.9.9
s3transfer==0.11.1
sacremoses==0.0.53
safehttpx==0.1.6
safetensors==0.5.3
scenedetect==0.6.5.2
schedulefree==1.4
scikit-base==0.12.0
scikit-build==0.18.1
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
segment-anything==1.0
selenium==4.29.0
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==3.4.1
sentencepiece==0.2.0
sentry-sdk==2.22.0
setproctitle==1.3.5
sgmllib3k==1.0.0
shapely==2.0.1
shellingham==1.5.4
shtab==1.7.1
simpleeval==1.0.3
simsimd==6.2.1
six==1.16.0
skypilot==0.4.1
slack_sdk==3.33.5
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.1
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
spaces==0.19.4
spandrel==0.4.1
SQLAlchemy==2.0.38
srt==3.5.3
sse-starlette==2.2.1
stack-data==0.6.3
stanza==1.1.1
starlette==0.42.0
streamlit==1.42.2
stringzilla==3.12.1
striprtf==0.0.26
structlog==24.4.0
supervision==0.25.1
surrealist==1.1.1
svg.path==6.3
svglib==1.5.1
Swarm==0.0.2
sympy==1.13.1
symusic==0.5.6
tabulate==0.9.0
taming-transformers-rom1504==0.0.6
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
terminado==0.18.1
threadpoolctl==3.5.0
tifffile==2025.2.18
tiktoken==0.9.0
time-machine==2.16.0
timm==0.6.13
tinycss2==1.4.0
tldextract==5.1.3
tokenizers==0.20.3
tomesd==0.1.3
toml==0.10.2
tomli==2.2.1
tomlkit==0.12.0
torchdiffeq==0.2.5
torchelastic==0.2.2
torchmetrics==1.4.0
torchscale==0.3.0
torchsde==0.2.6
torchtools @ git+https://github.com/pabloppp/pytorch-tools@6472bd5e223142bfbe105e2006432252f1ce3709
torchtyping==0.1.5
tornado==6.4.2
tqdm==4.66.4
traitlets==5.14.3
trampoline==0.1.2
transformers==4.46.3
transformers-stream-generator==0.0.5
transparent-background==1.3.3
trimesh==4.0.5
trio==0.29.0
trio-websocket==0.12.2
triton==3.1.0
truststore==0.10.1
trzsz==1.1.5
trzsz-libs==1.1.5
trzsz-svr==1.1.5
twilio==9.3.8
typeguard==2.13.3
typer==0.9.0
typer-config==1.4.2
types-dataclasses==0.6.6
types-python-dateutil==2.9.0.20241206
types-requests==2.31.0.6
types-setuptools==75.8.0.20250225
types-urllib3==1.26.25.14
typing==3.7.4.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tyro==0.8.5
tzdata==2025.1
tzlocal==5.3
uc-micro-py==1.0.3
ultralytics==8.3.40
ultralytics-thop==2.0.14
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.20
uv==0.6.4
uvicorn==0.34.0
uvloop==0.21.0
varname==0.13.5
verovio==5.1.0
vhacdx==0.0.8.post2
virtualenv==20.29.2
voluptuous==0.15.2
wandb==0.19.7
warmup_scheduler @ git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git@7021d63a49106e22c79b40564a7d39930e7b0f53
watchdog==6.0.0
watchfiles==1.0.4
wcwidth==0.2.13
webcolors==24.11.1
webdataset==0.2.111
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.1.3
wget==3.2
wikipedia==1.4.0
wordcloud==1.9.4
wrapt==1.17.2
wsproto==1.2.0
xatlas==0.0.9
xformers==0.0.28.post3
xlrd==2.0.1
xxhash==3.5.0
yacs==0.1.8
yapf==0.43.0
yarl==1.18.3
zhipuai==2.1.5.20250106
zipp==3.21.0
zstandard==0.23.0
zxing-cpp==2.2.0
